@font-face {
    font-family: 'DB HeaventRounded';
    src: url('~/assets/fonts/DBHeaventRounded-Bold.eot');
    src: url('~/assets/fonts/DBHeaventRounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('~/assets/fonts/DBHeaventRounded-Bold.woff2') format('woff2'),
        url('~/assets/fonts/DBHeaventRounded-Bold.woff') format('woff'),
        url('~/assets/fonts/DBHeaventRounded-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DB HeaventRounded Med Cond';
    src: url('~/assets/fonts/DBHeaventRounded-MedCond.eot');
    src: url('~/assets/fonts/DBHeaventRounded-MedCond.eot?#iefix') format('embedded-opentype'),
        url('~/assets/fonts/DBHeaventRounded-MedCond.woff2') format('woff2'),
        url('~/assets/fonts/DBHeaventRounded-MedCond.woff') format('woff'),
        url('~/assets/fonts/DBHeaventRounded-MedCond.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DB HeaventRounded Bold Cond';
    src: url('~/assets/fonts/DBHeaventRounded-BoldCond.eot');
    src: url('~/assets/fonts/DBHeaventRounded-BoldCond.eot?#iefix') format('embedded-opentype'),
        url('~/assets/fonts/DBHeaventRounded-BoldCond.woff2') format('woff2'),
        url('~/assets/fonts/DBHeaventRounded-BoldCond.woff') format('woff'),
        url('~/assets/fonts/DBHeaventRounded-BoldCond.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

