html {
    /* For Firefox */
    overflow-y: scroll;
    scrollbar-color: #EAD0B5 #F6E4D0;
    scrollbar-width: thin;
    /* background-color: #f6e4d0; */
    overflow-x: hidden;
  }

body {
    font-family: 'DB HeaventRounded Bold Cond';
    font-size: 2vw;
    line-height: 2vw;
    color:#5D3422;
    background-color: #fff;
    overflow-x: hidden;
}
a,
a:link,
a:visited,
a:hover {
  color: #5D3422;
  text-decoration: none;
}
@media screen and (max-device-width: 767.5px),
screen and (max-width: 767.5px) and (orientation: portrait) {
    body {
        font-family: 'DB HeaventRounded Bold Cond';
        font-size: 6vw;
        line-height: 6vw;
        color:#5D3422;
    }
   
}